<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" [routerLink]="['./caseStudies']" routerLinkActive="router-link-active" style="font-size: 2rem;">Case Studies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link btn btn-outline-success" href="#" style="font-size: 1.2rem;" [routerLink]="['/simulationScreen']">Back to Simulation Screen <span class="sr-only">(current)</span></a>
        </form>
    </div>
</nav>

<div class="container-fluid" style="padding:2em;margin-top:4em">
    <div class="row">

        <div class="col-lg-4 col-md-12 col-sm-12" *ngFor="let caseStudy of caseStudies" style="margin-bottom: 3rem;">
            <div class="card">
                <img *ngIf="caseStudy.type.toLocaleLowerCase().indexOf('heart')>-1" class="card-img-top" src="../../assets/images/cardio_1.png">
                <img *ngIf="caseStudy.type.toLocaleLowerCase().indexOf('brain')>-1" class="card-img-top" src="../../assets/images/brain_1.png">
                <img *ngIf="caseStudy.type.toLocaleLowerCase().indexOf('kidney')>-1" class="card-img-top" src="../../assets/images/kidney_1.png">
                <div class="card-body">
                    <h1 class="card-title">{{caseStudy.briefDescription}}</h1>
                    <h5 class="card-text">{{caseStudy.detailedDescription}}</h5>
                    <br>
                    <a href="#" class="btn btn-success" style="width: 18%;" [routerLink]="['/patientProfile',caseStudy.id]">Start</a>
                    <a href="#" class="btn btn-warning pull-right">View in Simulation</a>
                </div>
            </div>
        </div>

    </div>
</div>