.card {
  width: 100%;
  align-items: center;
  background-color: #19191a;
  box-shadow: 5px 10px #1a1d27;
}

.card:hover {
  transform: scale(1.01);
}

@media screen and (max-width: 990px) {
  .row {
    margin: 5% 0;
  }
  .card {
    margin: 2% 0;
  }
}

.card-title {
  color: white;
}

.card-text {
  color: wheat;
}

img {
  height: 156px;
  width: 200px;
  margin-top: 3%;
}
