<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['./caseStudies']"
  routerLinkActive="router-link-active" style="font-size: 2rem;">Case Studies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="font-size: 1.2rem;" [routerLink]="['/simulationScreen']">Simulation Screen <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid" style="padding:2em">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/cardio.png" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title">Case Study 1</h1>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, earum ratione soluta sapiente ea ipsam deleniti tenetur eligendi dolores iusto.</p>
          <a href="#" class="btn btn-warning">Edit Case Study</a>
          <a href="#" class="btn btn-success pull-right">View in Simulation</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/kidney.jpg" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title">Case Study 2</h1>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione laborum quia, sequi ad vitae obcaecati hic facilis facere placeat maxime!</p>
          <a href="#" class="btn btn-warning">Edit Case Study</a>
          <a href="#" class="btn btn-success pull-right">View in Simulation</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/brain.png" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title">Case Study 3</h1>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem laborum excepturi quidem fuga eos sapiente minima, quos fugiat a soluta!</p>
          <a href="#" class="btn btn-warning">Edit Case Study</a>
          <a href="#" class="btn btn-success pull-right">View in Simulation</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/cardio.png" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title">Case Study 1</h1>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, earum ratione soluta sapiente ea ipsam deleniti tenetur eligendi dolores iusto.</p>
          <a href="#" class="btn btn-warning">Edit Case Study</a>
          <a href="#" class="btn btn-success pull-right">View in Simulation</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/kidney.jpg" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title">Case Study 2</h1>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione laborum quia, sequi ad vitae obcaecati hic facilis facere placeat maxime!</p>
          <a href="#" class="btn btn-warning">Edit Case Study</a>
          <a href="#" class="btn btn-success pull-right">View in Simulation</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/brain.png" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title">Case Study 3</h1>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem laborum excepturi quidem fuga eos sapiente minima, quos fugiat a soluta!</p>
          <a href="#" class="btn btn-warning">Edit Case Study</a>
          <a href="#" class="btn btn-success pull-right">View in Simulation</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/cardio.png" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title">Case Study 1</h1>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, earum ratione soluta sapiente ea ipsam deleniti tenetur eligendi dolores iusto.</p>
          <a href="#" class="btn btn-warning">Edit Case Study</a>
          <a href="#" class="btn btn-success pull-right">View in Simulation</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/kidney.jpg" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title">Case Study 2</h1>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione laborum quia, sequi ad vitae obcaecati hic facilis facere placeat maxime!</p>
          <a href="#" class="btn btn-warning">Edit Case Study</a>
          <a href="#" class="btn btn-success pull-right">View in Simulation</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="card">
        <img class="card-img-top" src="../../assets/images/brain.png" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title">Case Study 3</h1>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem laborum excepturi quidem fuga eos sapiente minima, quos fugiat a soluta!</p>
          <a href="#" class="btn btn-warning">Edit Case Study</a>
          <a href="#" class="btn btn-success pull-right">View in Simulation</a>
        </div>
      </div>
    </div>
  </div>
</div>
