<div class="container-fluid">
    <!-- Heart Rate -->
    <div class="row">
        <div class="display col-lg-11 col-md-11 col-sm-12">
            <highcharts-chart [Highcharts]="highcharts" [options]="chartOptionsHeart" style="width: 100%; height: 250px; display: block">
            </highcharts-chart>
        </div>
        <div class="display col-lg-1 col-md-1 col-sm-12 values" style="background-color: rgb(51, 51, 52)">
            <h5 style="color: #7fff00">130</h5>
            <h1 style="color: #7fff00">{{ heartRateValue }}</h1>
            <h5 style="color: #7fff00">50</h5>
        </div>
    </div>

    <!-- SpO2 -->
    <div class="row" style="margin-top: 3%">
        <div class="display col-lg-11 col-md-11 col-sm-12">
            <highcharts-chart [Highcharts]="highcharts" [options]="chartOptionsSpo2" style="width: 100%; height: 250px; display: block">
            </highcharts-chart>
        </div>
        <div class="display col-lg-1 col-md-1 col-sm-12 values" style="background-color: rgb(51, 51, 52)">
            <h5 style="color: #ffff00">100</h5>
            <h1 style="color: #ffff00">{{ SpO2 }}</h1>
            <h5 style="color: #ffff00">95</h5>
        </div>
    </div>

    <!-- BP -->
    <div class="row" style="margin-top: 3%">
        <div class="display col-lg-11 col-md-11 col-sm-12">
            <highcharts-chart [Highcharts]="highcharts" [options]="chartOptionsBP" style="width: 100%; height: 250px; display: block">
            </highcharts-chart>
        </div>
        <div class="display col-lg-1 col-md-1 col-sm-12 values" style="background-color: rgb(51, 51, 52)">
            <h1 style="color: #cc8585">{{systolic}}</h1>
            <h1 style="color: #cc8585">{{diastolic}}</h1>
        </div>
    </div>

    <div class="row" style="margin-top: 3%">
        <div class="col-lg-4 col-md-4 col-sm-12" style="font-size: 4rem; color: #cc8585; font-weight: bolder">
            <h1 style="font-size: 4rem">
                BP <span style="font-size: 2rem">(Auto)</span>
            </h1>
            <h1 style="font-size: 8rem">{{ systolic }}/{{ diastolic }}</h1>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-12"></div>

        <div class="col-lg-7 col-md-7 col-sm-12" style="font-size: 4rem; font-weight: bolder">
            <div class="row">
                <div class="col-sm-4">
                    <div style="color: #ffff00">
                        <h1 style="font-size: 4rem">
                            Pulse <span style="font-size: 2rem">(130/50)</span>
                        </h1>
                        <h1 style="font-size: 8rem">{{ pulse }}</h1>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="color: white">
                        <h1 style="font-size: 4rem">
                            awRR <span style="font-size: 2rem">(30/8)</span>
                        </h1>
                        <h1 style="font-size: 8rem">{{ awRR }}</h1>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div style="color: #7fff00">
                        <h1 style="font-size: 4rem">
                            Tblood <span style="font-size: 2rem">(101/96)</span>
                        </h1>
                        <h1 style="font-size: 8rem">{{ Tblood }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background-color: #464646">
        <div class="col-sm-1">
            <button type="button" class="btn btn-param btn-warning">
        <i class="fa fa-check" aria-hidden="true"></i><br />
        Option 1
      </button>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-param btn-light">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i><br />
        Option Alarms
      </button>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-param btn-secondary">
        <i class="fa fa-angle-double-left fa-3x" aria-hidden="true"></i>
      </button>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-param btn-light">
        <i class="fa fa-play" aria-hidden="true">&nbsp;/&nbsp;</i
        ><i class="fa fa-ban" aria-hidden="true"></i><br />
        Start/Stop
      </button>
        </div>

        <div class="col-sm-1">
            <button type="button" class="btn btn-param btn-light" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-thermometer" aria-hidden="true"></i><br />
        Input Parameters
      </button>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-param btn-light"></button>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-param btn-light"></button>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-param btn-light" [routerLink]="['/caseStudies']">
        <i class="fa fa-binoculars" aria-hidden="true"></i><br />
        Case Study
      </button>
        </div>

        <div class="col-sm-1">
            <button type="button" class="btn btn-param btn-light">
        <i class="fa fa-bar-chart" aria-hidden="true"></i><br />
        Graph Trends
      </button>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-param btn-secondary">
        <i class="fa fa-angle-double-right fa-3x" aria-hidden="true"></i>
      </button>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-param btn-light">
        <i class="fa fa-cogs" aria-hidden="true"></i><br />
        Main Setup
      </button>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-param btn-primary">
        <i class="fa fa-desktop" aria-hidden="true"></i><br />
        Main Screen
      </button>
        </div>
    </div>






</div>
<br />
<div class="scroller" style="position: absolute"></div>
<!-- Modal -->
<div class="modal hide fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Change Parameters</h2>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Heart Rate</h4>
                    </div>
                    <div class="col-sm-8">
                        <input type="number" style="width: 100%;font-size: 1.2rem;" name="heartRate" id="heartRate" [(ngModel)]="newHeartRateValue" [value]="heartRateValue">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <h4>SPo2</h4>
                    </div>
                    <div class="col-sm-8">
                        <input type="number" style="width: 100%;font-size: 1.2rem;" name="SPo2" id="SPo2" [(ngModel)]="newSpO2" [value]="SpO2">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <h4>BP</h4>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Systolic</label>
                                <input type="number" style="width: 100%;font-size: 1.2rem;" name="systolic" id="systolic" [(ngModel)]="newSystolic" [value]="systolic">
                            </div>

                            <div class="col-sm-6">
                                <label>Diastolic</label>
                                <input type="number" style="width: 100%;font-size: 1.2rem;" name="diastolic" id="diastolic" [(ngModel)]="newDiastolic" [value]="diastolic">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveData()">Save changes</button>
            </div>
        </div>
    </div>
</div>
